@inherits LayoutComponentBase

 <div>
    <div>
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    Страница потеряла, связь
    <a href="" class="reload">Перезагрузить</a>
    <a class="dismiss">🗙</a>
</div> 
