<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap 5.3.3 -->
    <link rel="stylesheet" href="css/framework/bootstrap.min.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <!-- Swiper Slide -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet"
          href="css/lib/swiperSlider/effect-material.min.css" />

    <!-- Theme Files -->
    <link rel="stylesheet" href="font/font.css" />
    <link rel="stylesheet" href="css/custom/colors.css" />
    <link rel="stylesheet" href="css/custom/theme.css" />
    <link rel="stylesheet" href="css/custom/responsive.css" />
    <link rel="stylesheet" href="css/custom/animations.css" />
</head>

<body>

    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <!-- Bootstrap 5.3.3 -->
    <script src="js/framework/bootstrap.min.js"></script>

    <!-- Swiper Sider -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/lib/swiper slider/effect-material.min.js"></script>

    <script src="js/lib/jquery-3.7.1.min.js"></script>
    <script src="js/lib/circletype.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.8.4/smooth-scrollbar.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery.marquee@1.6.0/jquery.marquee.min.js"></script> -->
    <!-- Theme Files -->
    <script src="js/custom/custom.js"></script>
</body>

</html>
